<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="cef476cc-6820-427c-8ea2-79dae02ed3db" Publisher="CN=Jorge" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Cueros.App.Store</DisplayName>
    <PublisherDisplayName>Jorge</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Cueros.App.Store.App">
      <VisualElements DisplayName="Cueros.App.Store" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Cueros.App.Store" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\Wide310x150Logo.jpg" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>